**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
outputs
pcdet
OpenPCDet/pcdet
OpenPCDet/outputs
tools/swint-nuimages-pretrained.pth
OpenPCDet/data/
OpenPCDet/tools/swint-nuimages-pretrained.pth
version.py
OpenPCDet/tools/ckpt/
OpenPCDet/tools/ckpts/

